div.main-menu
    div.main-menu__item Projects
    div.main-menu__item Project 1

div.main-left-panel
    div.main-left-panel__item.main-left-panel__item-active Errors list
    div.main-left-panel__item Deployments
    div.main-left-panel__item Project settings

div.main-content
    div.font-xl Errors list

    div.error-tabs
        div.error-tabs__item.error-tabs__item-active Active
        div.error-tabs__item Resolved
        div.error-tabs__item Ignored

    div.error-list__wrap
        table.error-list
            tr.error-list__item
                td.error-list__cell.error-list__item-name Название ошибки 111
                td.error-list__cell ...
                td.error-list__cell chart
                td.error-list__cell 11
                td.error-list__cell 321
                td.error-list__cell.error-list__item-last-seen 29 авг, 11:33
