div.main-menu
    div.main-menu__logo
    div.main-menu__item Projects list
    div.main-menu__item.main-menu__item_right Account

div.main-left-panel
    div.main-left-panel__project-name Project 1
    div.main-left-panel__item.main-left-panel__item-active Errors list
    div.main-left-panel__item Deployments
    div.main-left-panel__item Project settings

div.main-content
    div.table
        div.t-row
            div.t-cell
                div.font-xxl Errors list
            div.t-cell.r-align
                div.last-update-time updated 29 aug, 11:33

    //
    div.error-list__controls-panel
        div.l-float
            input.input-s(placeholder="29.08.2016 - 02.09.2016")

        div.r-float
            input.input-s(placeholder="Search")

    // табы с типами ошибок
    div.ui-tabs.error-tabs
        div.ui-tabs__item.ui-tabs__item-active
            div.ui-tabs__item-line
            div.ui-tabs__item-counter 0
            span Active
        div.ui-tabs__item
            div.ui-tabs__item-line
            div.ui-tabs__item-counter 12
            span Resolved
        div.ui-tabs__item
            div.ui-tabs__item-line
            div.ui-tabs__item-counter 2
            span Ignored

    // список ошибок
    div.ui-tabs__content
        table.error-list
            thead
                tr.error-list__header-item
                    th.error-list__header-cell.error-list__header-new-indicator
                    th.error-list__header-cell
                        span Message
                    th.error-list__header-cell.error-list__header-cell-sortable.error-list__sort_asc
                        span Last seen
                    th.error-list__header-cell.error-list__header-cell-sortable.error-list__header-cell_right
                        span Count
                    th.error-list__header-cell.error-list__header-cell-sortable.error-list__header-cell_right
                        span Users
                    th.error-list__header-cell
                    th.error-list__header-cell
            tbody
                tr.error-list__item.error-list__item-new
                    td.error-list__cell.error-list__new-indicator
                        span
                    td.error-list__cell.error-list__item-name
                        a Название ошибки большое большое большое большое большое большое большое большое большое большое 111
                    td.error-list__cell.error-list__item-last-seen
                        | 29 авг, 11:33
                    td.error-list__cell.error-list__cell_right.error-list__item-err-count
                        | 321
                    td.error-list__cell.error-list__cell_right.error-list__item-usr-count
                        | 11
                    td.error-list__cell.error-list__item-chart
                        div.error-chart
                    td.error-list__cell.error-list__item-controls
                        div.error-list__item-dropdown ...

                tr.error-list__item
                    td.error-list__cell.error-list__new-indicator
                        span
                    td.error-list__cell.error-list__item-name
                        a Название ошибки 111
                    td.error-list__cell.error-list__item-last-seen
                        | 29 авг, 11:33
                    td.error-list__cell.error-list__cell_right.error-list__item-err-count.error-list__counter-updated
                        | 321
                    td.error-list__cell.error-list__cell_right.error-list__item-usr-count
                        | 11
                    td.error-list__cell.error-list__item-chart
                        div.error-chart
                    td.error-list__cell.error-list__item-controls
                        div.error-list__item-dropdown ...

