$top-menu-height: 44px;
$left-panel-width: 200px;

body {
    background: $color-snow;
}

.main-menu {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    height: $top-menu-height;
    background: #0e1c2a;
    @include clearfix;
}

.main-menu__logo {
    float: left;
    background: $color-slate;
    width: 26px;
    height: 26px;
    margin: ($top-menu-height - 26)/2;
    margin-bottom: 0;
    @include border-radius(50px);
}

.main-menu__item {
    float: left;
    height: $top-menu-height;
    line-height: $top-menu-height;
    color: #fff;
    padding: 0 2*$step;
    cursor: pointer;

    &:hover {
        background: $color-steel;
    }
}

.main-menu__item_right {
    float: right;
}

.main-left-panel {
    position: fixed;
    top: $top-menu-height;
    left: 0;
    bottom: 0;
    width: $left-panel-width;
    background: $color-slate;
}

.main-left-panel__project-name {
    color: #fff;
    font-weight: bold;
    @extend .font-l;
    padding: 2*$step;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-left-panel__item {
    height: $top-menu-height;
    line-height: $top-menu-height;
    color: #fff;
    padding: 0 2*$step 0 2*$step - 4;
    cursor: pointer;
    border-left: 4px solid transparent;
    color: $color-dark-smoke;

    &.main-left-panel__item-active {
        background: $color-black;
        color: #fff;
    }

    &.main-left-panel__item-active, &:hover {
        border-left: 4px solid $color-default;
    }

    &:hover {
        color: #fff;
    }
}

.main-content {
    margin: $top-menu-height 0 0 $left-panel-width;
    padding: 5*$step;
}

.last-update-time {
    color: $color-dark-smoke;
    margin-top: 0;
}

.error-list__controls-panel {
    @include clearfix;
    border-top: 2px solid $color-smoke;
    margin-top: 2*$step;
    padding-top: 2*$step;
}

$error-tab-height: 4*$step + 1;
$error-tab-line: 2px;
$error-tab-counter-height: 2*$step;

$tabs-height: 4*$step + 1;
.ui-tabs {
    height: $tabs-height;
}

.ui-tabs__item {
    float: left;
    height: $error-tab-height - 1;
    line-height: $error-tab-height - 1;
    background: $color-dark-snow;
    width: 200px;
    text-align: center;
    border-top: 1px solid $color-dark-smoke;
    border-right: 1px solid $color-dark-smoke;
    box-sizing: content-box;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    span {
        display: block;
        height: 100%;
        line-height: $error-tab-height - 1 - $error-tab-line;
    }

    &:first-child {
        @include border-top-left-radius($base-border-radius);
    }

    &:last-child {
        @include border-top-right-radius($base-border-radius);
    }
}

.ui-tabs__item-line {
    height: $error-tab-line;
    background: transparent;
}

.ui-tabs__item-counter {
    position: absolute;
    top: 50%;
    right: 10px;
    background: $color-dark-smoke;
    padding: 0 6px;
    margin-top: -($error-tab-counter-height/2);
    height: $error-tab-counter-height;
    line-height: $error-tab-counter-height;
    @extend .font-s;
    @include border-radius($base-border-radius);
    color: $color-slate;
}

.ui-tabs__item:hover .ui-tabs__item-line {
    background: $color-dark-smoke;
}

.ui-tabs__item-active, .ui-tabs__item-active:hover {
    //    border-top: 3px solid $color-default;
    //    margin-top: 0;
    background: #fff;
    border-top: 0;
    height: $error-tab-height + 1;

    .ui-tabs__item-line {
        height: 3px;
        background: $color-default;
    }
}

.ui-tabs__item:first-child {
    border-left: 1px solid $color-dark-smoke;
}

.ui-tabs__content {
    background: #fff;
    min-height: 200px;
    border: 1px solid $color-dark-smoke;
    padding: 3*$step 0;
    @include border-bottom-radius($base-border-radius);
}



.error-tabs {
    margin-top: 4*$step;
    @include clearfix;
    @extend .ui-tabs;
}

.error-list {
    width: 100%;
}

.error-list__item, .error-list__header-item {
    border-bottom: 1px solid $color-smoke;
}

.error-list__item {
    vertical-align: middle;
    &:hover {
        background: rgba(250, 242, 204, 0.2);
    }
}

.error-list__header-new-indicator {
    width: 1*$step;
}

.error-list__cell {
    padding: (1*$step) (3*$step) (1*$step) 0;
}

.error-list__cell_right {
    text-align: right;
}

.error-list__new-indicator {
    padding: 0 (1*$step) 0 (2*$step);
    span {
        display: block;
        width: $step;
        height: $step;
        @include border-radius($step/2);
        background: $color-default;
        visibility: hidden;
        margin: 0 auto;
    }
}

.error-list__item-new {
    background: rgba(54, 174, 255, 0.1);

    .error-list__new-indicator span {
        visibility: visible;
    }
}

.error-list__header-cell {
    text-align: left;
    white-space: nowrap;
    padding-right: 3*$step;
    @extend .font-s;
    padding-bottom: 1*$step;

    &:first-child {
        padding: 0;
        width: 30px;
    }
}

.error-list__header-cell_right {
    text-align: right;
}

.error-list__header-cell-sortable {
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.error-list__sort_asc,
.error-list__sort_desc {
    span {
        position: relative;

        &:after {
            display: block;
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            right: -16px;
            top: 50%;
            margin-top: -3px;
        }
    }
}

.error-list__sort_asc span:after {
    @include angle-up(6px, 6px, $color-default);
}
.error-list__sort_desc span:after {
    @include angle-down(6px, 6px, $color-default);
}

.error-list__cell, .error-list__header-cell {
    &:first-child {
        padding-left: 1*$step;
    }

    &:last-child {
        padding-right: 3*$step;
    }
}

.error-list__item-name a {
    line-height: 1.5;
}

.error-list__item-last-seen {
    white-space: nowrap;
    width: 1%;
}

.error-list__counter-updated {
    position: relative;

    &:before {
        position: absolute;
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        margin-top: -3px;
        @include border-radius(3px);
        background: $color-negative;
        right: 20px;
        top: 50%;
    }
}

//.error-list__item-err-count {
//    width: 1%;
//}
//
//.error-list__item-usr-count {
//    width: 1%;
//}
//
.error-list__item-chart {
    width: 1%;
}

.error-chart {
    width: 120px;
    height: 30px;
    background: $color-smoke;
}

.error-list__item-controls {
    width: 1%;
}

.error-list__item-dropdown {
    width: 20px;
    height: 20px;
    background: $color-dark-snow;
    @include border-radius(10px);
    text-align: center;
    cursor: pointer;
}