h1 Home
div(ng-bind="home.test")
div
    a(ui-sref="errors-list") List

div(style="width:800px; margin:0 auto;")
    div.table
        div.t-row
            div.t-cell
                div.card.card_blue Blue #[br] #1FB6FF

    div(style="margin-top:30px")
        div.font-card
            div.font-xxl The quick brown fox jumps over the lazy dog
            div.font-s.color-silver.mt1 XXL

        div.font-card
            div.font-xl The quick brown fox jumps over the lazy dog
            div.font-s.color-silver.mt1 XL

        div.font-card
            div.font-l The quick brown fox jumps over the lazy dog
            div.font-s.color-silver.mt1 L

        div.font-card
            div.font-m The quick brown fox jumps over the lazy dog
            div.font-s.color-silver.mt1 M

        div.font-card
            div.font-s The quick brown fox jumps over the lazy dog
            div.font-s.color-silver.mt1 S

        div.font-card
            div.font-xs The quick brown fox jumps over the lazy dog
            div.font-s.color-silver.mt1 XS


    div.table.table_cell-center.mt3#tbl-btns
        div.t-row
            div.t-cell
                button.bg-default.btn-xl Кнопка
            div.t-cell
                button.bg-default.btn-l Кнопка
            div.t-cell
                button.bg-default.btn-m Кнопка
            div.t-cell
                button.bg-default.btn-s Кнопка
            div.t-cell
                button.bg-default.btn-xs Кнопка

        div.t-row
            div.t-cell
                div.font-s.color-silver XL Button
            div.t-cell
                div.font-s.color-silver L Button
            div.t-cell
                div.font-s.color-silver M Button
            div.t-cell
                div.font-s.color-silver S Button
            div.t-cell
                div.font-s.color-silver XS Button


    div.mt3
        button.btn-m.bg-default Default
        button.btn-m.bg-positive.ml2 Позитив
        button.btn-m.bg-negative.ml2 Негатив

    div.mt3
        button.btn-m.btn-ghost.bg-default-hover Ghost
        button.btn-m.btn-ghost.bg-positive-hover.ml2 Ghost positive
        button.btn-m.btn-ghost.bg-negative-hover.ml2 Ghost negative

    div.mt3.bg-snow
        button.btn-m.btn-outlined.bg-white.bg-default-hover Outlined
        button.btn-m.btn-disabled.ml2 Disabled
        button.btn-m.btn-loading.ml2 Loading

    div.mt3
        input.input-s(placeholder="Плейсхолдер")
        button.btn-s.bg-default Default

    div.mt3
        input.input-m(placeholder="Плейсхолдер")
        button.btn-m.bg-default Default

    div.mt3
        input.input-l(placeholder="Плейсхолдер")
        button.btn-l.bg-default Default

    div.mt3
        input.input-xl(placeholder="Плейсхолдер")
        button.btn-xl.bg-default Default

    div.mt3
        input.input-xl.input-disabled(placeholder="Disabled input")
        button.btn-xl.btn-disabled.bg-default Disabled

    div.mt3
        div Some <a>text and</a> link.
        div Some <a class="link-dark">text and</a> link.
        div Some <a class="link-light">text and</a> link.
        div Some <a class="link-negative">text and</a> link.

    div.mt3